<div class="container">
  <ng-container *ngIf="todoList$ | async as list">
    <ng-container class="m-auto" *ngIf="list.length === 0">
      <div class="row">
        <p class="m-auto">All tasks are completed! Add a new task</p>
      </div>
    </ng-container>
    <ng-container *ngFor="let task of list; let i = index">
      <div class="row">
        <div class="col-sm-8 m-auto">
          <app-todo-item [task]="task" [index]="i + 1"></app-todo-item>
        </div>
      </div>
    </ng-container>
  </ng-container>

</div>
