<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Users</span>
  <ul class="navbar-nav ml-auto" *ngIf="currentUser">
    <li class="nav-item ">
      Current user: {{currentUser.firstName}} {{currentUser.lastName}}
    </li>
  </ul>
</nav>
  <div class="row">
    <div class="col-sm-2">
      <nav class="nav flex-column bg-light" style="width: 200px; height: 100vh">
        <a class="nav-link active" (click)="createComponent('newUser')">Create user</a>
        <a class="nav-link" (click)="createComponent('list')">Users list</a>
      </nav>
    </div>
    <div class="col-sm-10">
      <ng-container class="m-auto" #dynamicContainer></ng-container>
    </div>
  </div>

