<div class="container" *ngIf="todoList$ | async as list">
  <ng-container class="m-auto" *ngIf="!list.length">
    <div class="row">
      <p class="m-auto">All tasks are completed! Add a new task</p>
    </div>
  </ng-container>
  <ng-container *ngFor="let task of list; let i = index">
    <div class="row" @flyInOut>
      <div class="col-sm-8 m-auto">
        <app-todo-done-item [task]="task" [index]="i + 1" (deleted)="changePagination()"></app-todo-done-item>
      </div>
    </div>
  </ng-container>
  <app-pagination #pagination></app-pagination>
</div>
