<div class="row">
  <ng-container *ngIf="toDoListArray | async as list">
    <div class="btn-group mt-5 ml-auto mr-auto mb-auto" role="group">
      <button class="btn btn-secondary" (click)="createComponent('list')">Todo list</button>
      <button class="btn btn-secondary" (click)="createComponent('add')">Add Todo</button>
      <button class="btn btn-secondary" (click)="createComponent('settings')"
              [disabled]="list.length === 0">Todo settings
      </button>
    </div>
  </ng-container>

</div>
